.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__board {
        aspect-ratio: 1/1;
    }
    .header {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-family: sans-serif;
        padding: 40px;
    }
    select {
        font-size: 14px;
        border: none;
        background-color: transparent;
    }
    button {
        height: 60px;
    }
}